{% extends 'products/base.html' %}
{% block content %}
{% load humanize %}
    <section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Заказы</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Создан</th>
                        <th scope="col">Итого</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.get_status_display}}</td>
                        <td>{{order.created_at|naturaltime}}</td>
                        <td>{{order.basket_history.total_summ|intcomma}} руб.</td>
                        <td>
                            <a href="{% url 'orders:order' order.id %}">просмотреть</a>
                        </td>
                    </tr>
                    {% endfor %}

<!--                    <tr class="table-success">-->
<!--                        <th scope="row">2</th>-->
<!--                        <td>Досталвен</td>-->
<!--                        <td>16 июля 21 года</td>-->
<!--                        <td>4 876 руб.</td>-->
<!--                        <td>-->
<!--                            <a href="order.html">просмотреть</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr class="table-info">-->
<!--                        <th scope="row">3</th>-->
<!--                        <td>В пути</td>-->
<!--                        <td>14 нояб. 21 года</td>-->
<!--                        <td>9 566 руб.</td>-->
<!--                        <td>-->
<!--                            <a href="order.html">просмотреть</a>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}